name: Terraform Lake Formation Pipeline

on:
  push:
    branches: [ "main" ]
   

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: eu-central-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.6.6

    # -------------------------
    # PHASE 1: Infra
    # -------------------------
    - name: Terraform Init
      working-directory: infra
      run: terraform init

    - name: Terraform Apply (infra only)
      working-directory: infra
      run: |
        terraform apply -auto-approve \
          -var="enable_lf_table_governance=true"

    # -------------------------
    # PHASE 2: Run Glue crawler
    # -------------------------
    - name: Start Glue crawler
      run: |
        aws glue start-crawler --name demo_bigmac_crawler

    - name: Wait for Glue crawler
      run: |
        echo "Waiting for crawler to finish..."
        while true; do
          STATE=$(aws glue get-crawler --name demo_bigmac_crawler --query 'Crawler.State' --output text)
          echo "Crawler state: $STATE"
          if [ "$STATE" = "READY" ]; then
            break
          fi
          sleep 30
        done

    # -------------------------
    # PHASE 3: LF Governance
    # -------------------------
    - name: Terraform Apply (LF tags + permissions)
      working-directory: infra
      run: |
        terraform apply -auto-approve \
        -var-file=terraform.tfvars \
        -var="enable_lf_table_governance=true"

    - name: Debug - show enable_lf_table_governance
      working-directory: infra
      run: |
        terraform console <<'EOF'
        var.enable_lf_table_governance
        EOF

